# 當添加其他環境變數時，應該同時更新 "src/env.ts" 中的 schema

# --- 應用程式 ---

# 應用程式的開發環境基礎連結
APP_DEV_URL="http://localhost:3000"

# 應用程式的正式環境基礎連結
APP_PROD_URL="https://iam.cmrdb.cs.pu.edu.tw"

# --- Better Auth ---

# 用於加密和雜湊
# 必須至少 32 個字元的強隨機字串
# 可以使用 `openssl rand -base64 32` 來產生一個
BETTER_AUTH_SECRET=""

# Discord 應用程式資訊，用於社交登入
BETTER_AUTH_DISCORD_CLIENT_ID=""
BETTER_AUTH_DISCORD_CLIENT_SECRET=""

# --- 資料庫 ---

# SQLite 資料庫的檔案路徑
DATABASE_URL="file:./db.sqlite"
